* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    background-color: black  ;
    flex-direction: column;
}
h1{
    color: rgb(127.5, 127.5, 127.5 );
}
.wrap {
    margin: auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    display:grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.box {
    transition: 1s;
}
.mid {
    background-color: lightgrey;
    min-width: 300px;
    min-height: 300px;
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   grid-column: 2;
    
}

.wrap div:nth-child(5){
    grid-column: 1;
    grid-row: 3;
}
.wrap div:nth-child(4){
    grid-column: 2;
    grid-row: 3
}
.wrap div:nth-child(6){
    grid-column: 3;
    grid-row: 3;
}